.selectDrop {
    width: 130px;
    height: auto;
    background: #fff;
    position: absolute;
    top: 150%;
    left: -45px;
    z-index: 100;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    padding: 15px;
}

.selectdrop .openselect{
    display: block;
    padding: 2px;
    font-size: 13px;
}

.selectdrop .openselect .arrow{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 18px;
}

.searchfield input{
    width: 100%;
    height: 30px;
    border: 1px solid var(--primary-text-color);
    outline: none;
    padding: 0px 15px;
    border-radius: 7px;
    opacity: 0.7;

}

.selectDrop .searchresults {
    margin-top: 10px;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    max-height: 150px;
    overflow-y: scroll;
}

/* .selectDrop .searchresults::-webkit-scrollbar{
    width: 10px !important;
} */
/* 
.selectDrop .searchresults::-webkit-scrollbar-thumb{
    background: #ccc !important;
} */

.selectDrop .searchresults li{
    list-style: none;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    color: rgb(0,0,0,0.7);
    border-radius: 7px;
}

.selectDrop .searchresults li.active{
    background: #f1f1f1;
    color: #000 !important;
}

.selectDrop .searchresults li:hover{
    background: var(--primary-icon-color);
    color: #fff;
}