.productthumb{
    width: 100%;
    height: 100% !important;
    border: 0.3px solid #e9e9e9;
    overflow: hidden;
    border-radius: 1rem;
    /* padding: 1rem; */
    transition: all 0.3s ease-in-out;
}

.productthumb .info{
    padding: 1rem;
    height: 100% !important;
}

.productthumb:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.productthumb .badge{
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    z-index: 10;
    padding: 0.4rem 1.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 50px;
}

.productthumb .badge.hot{
    background: #f74b81;
}

.productthumb .badge.sale{
    background: #67bcee;
}

.productthumb .badge.new{
    background: #3BB77E;
}

.productthumb .badge.best{
    background: #f59758;
}

.productthumb .catname{
    color: var(--primary-text-color);
    opacity: 0.8;
    font-size: 1.2rem;
    font-weight: bold;
}

.productthumb .catname2{
    color: var(--primary-text-color);
    opacity: 0.8;
    font-size: 1rem;
    font-weight: bold;

}



.productthumb .title{
    margin: 1rem 0px;
}

.productthumb .title{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1rem;
    font-size: 1rem;
}

.productthumb .brandname{
    color: var(--primary-text-color);
    font-size: 0.8rem;
}

.productthumb .brandname a{ 
    text-decoration: none;
}

.productthumb .price{
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.1rem ;
    margin-right: 0.3rem;
}

.productthumb .oldprice{
    font-size: 0.7rem !important;
    opacity: 0.8 !important;
    text-decoration: line-through !important;
    color: var(--primary-text-color) !important;
}

.productthumb button{
    font-size: 0.8rem ;
    color: #ffff !important;
    padding: 0.3rem 0.3rem !important;
    text-transform: capitalize;
    background: var(--hover-color) !important;
    border: none;
    border-radius: 5px !important;
    transition: all 0.3s ease-in-out;
}

.catnamewrpper {
    height: 4rem;
}

.descriptionwrapper{
    height: 5.8rem !important;
}

.productthumb button a {
    text-decoration: none;
    color: #ffff !important;
}
.productthumb button svg{
    font-size: 1.1rem;
    /* margin-bottom: 4px !important; */
    margin-bottom: 0.1rem !important;
    margin-right: 0.2rem;
}

.productthumb button:hover{
    background: var(--primary-icon-color) !important;
}

.productthumb .imagewrapper{
    width: 100%;
    /* overflow: hidden; */
    /* width:min-content */
}

.productthumb  .overlay{
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}


.productthumb:hover  .overlay{
    visibility:visible;
}

.productthumb  .overlay ul {
    background: #ffff;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--hover-color);
}

.productthumb  .overlay ul li{
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.productthumb  .overlay ul li a{
    display: block;
    padding: 0.1rem 0.4rem;
    color: var(--primary-icon-color);
    border: 1px solid var(--hover-color);   
}
.productthumb  .overlay ul li a svg{
    font-size: 1.4rem;
}

.productthumb  .overlay ul li:hover a svg{
    color: var(--primary-text-color);
}
.productthumb .imagewrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem !important;
}

.productthumb .imagewrapper img{
    transition: all 0.3s ease-in-out;
    width: 70% !important;
    height : 100% !important;
}

.productthumb:hover .imagewrapper img{
    transform: scale(1.1);
}

.thumbcontentpopular{
    position: absolute;
}
.thumbcontentpopular .info .pricesection{
    margin-top: auto
}