.catslidersection{
    width: 100%;
    height: auto;
    padding: 0px 0px;
    position: relative;
    /* overflow: hidden; */
}

.cat_list_items{
    font-size: 1.1rem;
}

.catslidersection .item{
    height: 30% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10% 0px;
    transition: all 0.3s ease-in-out;
}

.catslidersection .item .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #EEF9CD; */
    border-radius: 2%;
    padding-top: 1rem !important;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    height: 28rem ;
    width: 18rem;
    padding-left: 2%;

}

.catslidersection .item:hover .info img{
    transform: scale(1.1);
}

.catslidersection .item .info img{
    /* mix-blend-mode: multiply; */
    padding: 1rem 1rem;
    height: 100% !important;
    width: 100%;
}

.catslidersection .item a{
    font-size: 0.7rem !important;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-text-color);
    text-transform:uppercase;
}

.catslidersection .item:hover .info{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.catslider-main{
    padding: 1rem 0px;
    position: relative;
    height: 100% !important;
}

.catslider-main .item .info:hover{
    color: var(--hover-color);
}

.catslider-nav {
    display: flex;
    gap: 1%;
    left: 120%;
    position: absolute;
    top: -3%;
}

.cat-prev,
.cat-next {
    cursor: pointer;
    font-weight: 600;
    padding: 1% 8%;
    color: var(--primary-text-color);
    transition: 0.2s;
    user-select: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.cat-prev svg{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    font-size: 30px;
}
.cat-next svg{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-radius: 50%;
     font-size: 30px;
}   

.cat-prev:hover,
.cat-next:hover {
    color: var(--primary-icon-color);
}

/* .catname{
    top: 2000px !important;
}   

.catname1{
    position: absolute;
    padding-top: 0rem !important;
    /* padding-bottom: 1rem !important; */
    /* font-size: 1rem !important;
    text-transform: capitalize; */
/* } */ 


.featuretitle{
    max-width: 1024px !important;
    position: relative;
}

.featuretitle ul li a{
    text-decoration: none !important;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 500;
}

.featuretitle ul li a:hover{
    color: var(--primary-icon-color);
    
}

@media(max-width: 500px){
    .catslider-nav{
        display: none;
    }
}