header {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5px 0px;
}

header .countrywrapper .selectdrop{
    width: 180px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #ececec;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

header .countrywrapper .selectdrop .selectDrop{
    top: 120%;
    left: 0px !important;
}

header .countrywrapper .selectdrop .openselect {
    width: 100%;
}

header .countrywrapper .selectdrop .openselect .arrow{
    top: 6px;
}

.logo {
    height: 70px;
    width: 150px;
    padding-bottom: 12px;
}

header .headersearch {
    width: 100%;
    height: 45px;
    border: 1px solid var(--primary-text-color);
    padding: 10px 20px;
    border-radius: 0.2rem;
    
}

header .headersearch .selectdrop{
    width: 25%;
    font-size: 16px;
    font-weight: 500;
    position: relative;

}
header .headersearch .selectdrop::after{
    content: '';
    width: 1px;
    height: 20px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0px;
    right: 0px;
}

header .headersearch .search {
    width: 75%;
    padding-left: 20px;
    position: relative;
    padding-bottom: 3px;
}

header .headersearch .search input{
    width: 100%;
    height: 40px;
    border: 0px;
    outline: none !important;
    font-size: 18px;
}

header .headersearch .search .searchIcon{
    position: absolute;
    top: 10px;
    right: 2px;
    opacity: 0.5;
    font-size: 25px !important;
}

header .headertabs{
    padding-left: 2rem;
}
header .headertabs li{
    position: relative;
}

header .headertabs li span.badge{
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    top:-7px;
    left: 21px;
    padding: 2px;
    padding-top: 3px;
    background-color: var(--primary-icon-color);
    
}

header .headertabs li span{
    font-size: 13px;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
    padding: 3px;
}
.itemicon{
    color: var(--primary-icon-color);
}

header .headertabs li .itemicon{

    opacity: 1;
    font-size: 30px;
    margin-bottom: 7px;
}

header .headertabs li .accountdropdownmenu{
    position: absolute;
    top: 100%;
    left: -3rem;
    width: 10rem;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    padding-left: 2%;
    z-index: 100;
}

header .headertabs li .accountdropdownmenu li {
    list-style: none;
    width: 100%;
}

header .headertabs li .accountdropdownmenu li button{
    width: 100%;
    text-align: left !important;
    justify-content: flex-start !important;
    color: var(--primary-text-color) !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
    font-weight: 350;
}

header .headertabs li .accountdropdownmenu li button svg {
    opacity: 0.5 !important;
    margin-right: 8px !important;
    color: var(--primary-icon-color);
    font-size: 20px;
    font-weight: 400;
}

header .headertabs li .accountdropdownmenu li button:hover{
    background-color: var(--primary-icon-color) !important;
    color: #fff !important;
}

header .headertabs li .accountdropdownmenu li button:hover svg{
    fill: #ffff !important;
}