.nav {
    width: 100%;
    height: 4rem;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .cattab {
    padding: 2px 1rem !important;
    font-size: 1.1rem !important;
    text-transform: capitalize !important;
    color: #fff;
    height: 3rem !important;
    width: 18rem;

}

.nav nav ul li {
    position: relative;
}

.nav nav ul li button {
    text-transform: capitalize !important;
    padding: 0.1rem 0.01rem;
}
.nav nav ul li button:hover{
    background-color: var(--hover-color);
}

.nav nav ul li button a {
    text-decoration: none !important;
    color: var(--primary-text-color) !important;
    font-size: 0.8rem;
}

.nav .phno svg{
    font-size: 30px !important;
    color: var(--primary-icon-color);
    opacity: 0.7;
}

.nav .phno .info p{
    font-size: 12px !important;
    color: var(--primary-text-color);
}

.nav .phno .info h5{
    color: var(--primary-text-color);
}

.nav nav .dropdownmenu{
    position: absolute;
    top: 150%;
    left: 0px;
    width: 120px;
    height: auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px 0px;
    z-index: 1024;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}

nav .dropdownmenu li{
    width: 100% !important;
    list-style: none;
    margin: 0px !important;
}
nav .dropdownmenu ul{
    padding: 0rem;
}

nav .dropdownmenu ul li button{
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
    font-size: 13px;
    color: var(--primary-text-color);
    text-transform: capitalize !important;

}

nav .nav li a:hover{
    color: #fff !important;
}

nav .nav li:hover .dropdownmenu{
    position: absolute;
    top: 100%;
    visibility: inherit;

}

.megamenu{
 height: auto !important;
 width: 98% !important;
 padding: 30px 30px !important;
 margin-left: 14px;
}

.megamenu .col ul li{
    margin-bottom: 10px !important;
    display: block;
}

.megamenu .col ul li a{
    color: var(--primary-text-color);
    font-size: 14px;
    text-decoration: none;
}

.megamenu .col ul li a:hover{
    color: var(--primary-icon-color) !important;
}