.nav {
    width: 100%;
    height: 4rem;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .cattab {
    padding: 2px 1rem !important;
    font-size: 1.1rem !important;
    text-transform: capitalize !important;
    color: #fff;
    height: 3rem !important;
    width: 18rem;

}

.nav nav ul li {
    position: relative;
}

.nav nav ul li button {
    text-transform: capitalize !important;
    padding: 0.2rem 1.5rem;
}
/* .nav nav ul li button:hover{
    background-color: var(--hover-color);
    text-decoration: underline ;
    text-decoration-color: var(--hover-color);
    text-decoration-style: solid
} */

.nav nav ul li {
    position: relative;
    display: inline-block;
}

.nav nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: currentColor;
    opacity: 0;
    transform: translateY(5px);
    transition: 
        width 0.3s ease,
        height 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

.nav nav ul li:hover::after {
    width: 100%;
    height: 2px;
    opacity: 1;
    transform: translateY(0px);
}


.nav nav ul li a button {
    text-decoration: none !important;
    /* color: #fff !important; */
    font-size: 1.2rem;
    color: #fff !important;
}


.nav nav .dropdownmenu{
    position: absolute;
    top: 150%;
    left: 0px;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px 0px;
    z-index: 1024;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}

nav .dropdownmenu li{
    width: 100% !important;
    list-style: none;
    margin: 0px !important;
}
nav .dropdownmenu ul{
    padding: 0rem;
}

nav .dropdownmenu ul li button{
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
    font-size: 13px;
    color: var(--primary-text-color);
    text-transform: capitalize !important;

}

nav .nav li a:hover{
    color: #fff !important;
}

nav .nav li:hover .dropdownmenu{
    position: absolute;
    top: 100%;
    visibility: inherit;

}

/* ra */
 /* height: auto !important;
 width: 98% !important;
 padding: 30px 30px !important;
 margin-left: 14px;
}

.megamenu .col ul li{
    margin-bottom: 10px !important;
    display: block;
}

.megamenu .col ul li a{
    color: var(--primary-text-color);
    font-size: 14px;
    text-decoration: none;
}

.megamenu .col ul li a:hover{
    color: var(--primary-icon-color) !important;
} */

.brands .dropdownmenu ul li {
    padding: 10% !important;
}

.brands .dropdownmenu ul li:hover{
    /* background-color: var(--hover-color); */
}

.brands .dropdownmenu ul li:hover a{
    color: var(--primary-icon-color) !important;
    font-size: large;
}

.brands .dropdownmenu ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: medium;
    font-weight: 600;
}