.footerwrapper {
    padding: 3rem 0px;
    padding-bottom: 0px !important;
}

.footerwrapper .footerboxes .box{
    background: #FBF7EA;
    padding: 1rem 0.2rem;
    border-radius: 1rem;
    width: 90% !important;
}

.footerwrapper .footerboxes .box svg {
    font-size: 3rem;
    margin-left: auto;
    padding-bottom: 0.5rem;
    color: var(--primary-icon-color);
    position: relative;
    transition: all 0.3s ease-in-out;

}

.footerwrapper .footerboxes .box:hover svg {
    transform: translateY(-10px);
}

.footerwrapper .footerboxes .box .info{
    text-transform: capitalize;
    line-height: 1.2rem;
    padding: auto;
    margin: auto;
}

.footerwrapper .footerboxes .box .info h5{
    font-size: 1.3rem !important;
    font-weight: 700 !important;
}
.footerwrapper .footerboxes .box .info p{
    font-family: "Quicksand", serif !important;
    font-size: 0.8rem;
}

footer{
    width: 100%;
    height: 100%;
    background: black;
    margin-bottom: 0px !important;
    color: white;
}

footer ul{
    list-style: none;
    padding-left: 0px;
}

.footernote {
    margin: auto;
    display: flex;
    justify-content: center;
}