@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-icon-color : #d4af37;
  --primary-text-color: #052a4a;
  --hover-color: 	  #052a4a;
  --color-light-g: #E2CA78;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn-g{
  background: var(--hover-color) !important;
  color: white !important;
  padding: 7px 15px !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
  transition: all 0.3s ease-in-out;
}
.btn-g:hover{
  background: var(--primary-icon-color) !important;
}

::placeholder{

  font-size: 0.8rem;
}

h1, h2, h3, h4, p{
  font-family: "Playfair Display", serif !important;
}

body {
  color: var(--primary-text-color);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0px 45px;
}

.cursor{
   cursor: pointer;
}

.bg-g {
background: linear-gradient(135deg, #052a4a, #0a4d7c, #d4af37) !important;
}

.text-g{
  color: var(--primary-icon-color);
}

.bg-navy{
  background-color: var(--primary-text-color) !important;
}

.text-orange{
  color: #FDC040 !important;
}

.hd{
  font-size: 2rem !important;
  font-weight: 600 !important;
  padding-left: 1rem;
}

.monserrat{
  font-family: "Montserrat", serif !important;
}

.playfair{
  font-family: "Playfair Display", serif !important;
}
.quicksand{
  font-family: "Quicksand", serif !important;
}

.transition{
  transition: all 0.3s ease-in-out;
}

.h-330px{
  height: 300px !important;
}

.bg-red{
  color: red !important;
}

a {
  text-decoration: none !important;
}
