@font-face {
  font-family: 'RETRO FLORAL';
  src: url('./assets/fonts/retro-floral.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'RETRO FLORAL', sans-serif !important;
  background: url("../src/assets/images/banner/bg.jpg") !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
